.footer {
    background-color: aliceblue;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer .title {
    font-size: 1.2rem;
    font-weight: 600;
}

.footer img {
    width: 40px;

}

.copyright {
    background-color: aliceblue;
}

.copyright p {
    text-align: center;
    border-top: solid 1px #a1a1a1;
}